body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background: linear-gradient(135deg, #000000, #1a1a1a, #ff6a00);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}
h1{
    color: #ff6a00 !important;
}
.margin-bot{
    margin-bottom: 10px !important;
}
/* NAVBAR */
.navbar{
    height: auto;
    background-color: rgb(34, 34, 34) !important;
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-login{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: fit-content !important;
}
.contact-login a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}
.navbar-toggler{
    color: white !important;
}




/* footer */
.f-info{ 
    height: 80px !important;
    box-sizing: border-box;
    /* position: fixed; */
    bottom: 0 !important;
    left: 0;
    background-color :transparent; 
    color: white; 
    padding: 20px 0; 
    text-align: center; 
    width: 100%;
}
.f-link a{
    margin: 0 5px;
    text-decoration: none;
    color: rgb(175, 174, 174);
}
.f-link a:hover{ color: #fd7e14; text-decoration: underline; }
.f-socialMedia i{
    color: #ffffff;
    font-size: larger;
    transition: 0.3s;
}
.f-socialMedia i:hover{
    color: #fd7e14;
    font-size: 25px;
    cursor: pointer;
}
 

/* Main Page */
.profile-img{
    max-width: 200px;
    max-height: 200px;
}

.hero-title {
    font-size: clamp(20px, 4vw, 50px);
}

.text{
    text-align: justify;
}
.container h2{
    color: #ff6a00;
}
.container .card{ 
    background-color: transparent;
    box-shadow: 0 0 2px #ff6a00;
}
.container p , .container pre{
    color: white;
}
.container .card-subtitle{
    color: rgb(148, 148, 148) !important;
}
.container .card-title{
    color: #fd7e14;
}
.container b{
    color: #fd7e14;
}

/* Contact Page */
.contact-container h5{
    color: #e2ac85;

}
.contact-container p{
    color: #ffffff;
}
.contact-container input::placeholder{
    color: rgb(184, 184, 184) !important;
}
.contact-container textarea::placeholder{
     color: rgb(184, 184, 184) !important;
}

/* Project Add Form */
.projectform-container label{
    color: white !important;
}
.projectform-container input, .projectform-container textarea{
    color: #ff8b39 !important;
}
.projectform-container input, .projectform-container textarea{
    background-color: transparent !important;
}
.projectform-container input::placeholder{
    color: rgb(184, 184, 184) !important;
}
.projectform-container textarea::placeholder{
     color: rgb(184, 184, 184) !important;
}

/* Project */
.projectShow-container .card{
    background-color: transparent !important;
    box-shadow: 0 0 8px #ff6a00;
}