<%layout("/layout/boilerplate.ejs") %>

<body>
    <!-- <div class="row row-cols-xl-1 row-cols-md-1 row-cols-sm-1 row-cols-1">
        <div class="col-12 offset-0 home-container">
            <div class=" home-content">
                <h1>Welcome to My Portfolio</h1>
                <form action="/home/main" method="get">
                <button class="btn">Explore</button>
                </form>
            </div>
            <div class="home-image">
                <div class="img">
                    <img src="/assets/sumit.png" alt="My Portfolio Image">
                 </div>
            </div>
        </div>
    </div> -->
    <div class="container">
  <div class="row " style="height: 80vh;">
             <div class="col">
                <h1><b>Welcome to My Portfolio</b></h1>
                 <div class="col btn-container">
                    <form action="/main" method="get">
                     <button class="btn">Explore</button>
                    </form>
                 </div>
            </div>
            <div class="col-6 home-image">
                 <img src="/assets/sumit.png" alt="">
            </div>
  </div>
    </div>
</body>
 