<% layout('/layout/boilerplate.ejs')%>

<body>
        <div class="container">
  <div class="row mt-4 g-4">

    <!-- Text Section -->
    <div class="col-8">
      <h2 class="hero-title">Hi, I am Sumit Kumar Sharma</h2>
      <p class="p-title">MERN Stack Developer</p>
    </div>

    <!-- Image Section -->
    <div class="col-4 text-end ms-auto">
      <img src="/assets/sumitBest.png" 
           class="img-fluid rounded profile-img"
           style="margin-bottom: 100px;" 
           alt="Sumit Profile">
    </div>

    <div class="career-container" style="margin-top: -70px;">
      <div class="row">
        <div class="col">
          <h2 class="hero-title">Career Objective</h2>
          <p class="text">Passionate and detail-oriented MERN Stack Developer with strong foundation in MongoDB, Express.js, React.js, and Node.js. Seeking an opportunity to contribute to innovative web development projects while continuously enhancing my technical and problem-solving skills. Eager to work in a growth-oriented organization where I can build scalable applications and deliver impactful user experiences.</p>
        </div>
      </div>
    </div>

    <!-- Educational Qualification -->
    <div class="edu-conatainer" style="margin-bottom: 100px;">
    <div class="col max-auto">
      <h2 class="hero-title">Educational Qualifiacation</h2>
    <div class="row  row-cols-1 row-cols-md-2 g-4">
      <!-- Card1 -->
      <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Master in Computer Application</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Presidency College (Autonomous)</h6>
              <p class="card-text">I am currently pursuing a Master of Computer Applications (MCA) with a strong interest in software development and modern web technologies.</p>
              <Pre>Duration : <b>2024-2026</b></Pre>
            </div>
          </div>
      </div>
      <!-- card2 -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Bachelor's of Science (Mathematics)</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">FS University, Sikohabad (Uttar Pradesh)</h6>
            <p class="card-text">I have completed my Bachelor of Science in Mathematics, where I developed strong analytical, logical reasoning, and problem-solving skills.</p>
            <pre>Duration : <b>2021-2024</b>           CGPA : <b>6.9</b></pre>
          </div>
        </div>
      </div>

    </div>
    </div>
    </div>

    <!-- Skills -->
     <div class="edu-conatainer" style="margin-bottom: 100px; margin-top: -50px;">
    <div class="col max-auto">
      <h2 class="hero-title">Technical Skills</h2>
    <div class="row  row-cols-1 row-cols-md-2 g-4">
      <!-- Card1 -->
      <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Frontend Technologies</h5>
              <p class="card-text">Skilled in frontend technologies including <b>HTML5, CSS, and JavaScript</b>, with experience in building responsive and user-friendly web interfaces using modern frameworks like <b>React and Bootstrap</b>.</p>
            </div>
          </div>
      </div>
      <!-- card2 -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Backend Technologies</h5>
            
            <p class="card-text">Proficient in backend development using <b>Node.js and Express.js</b>, with experience in building <b>RESTful APIs</b>, managing databases like <b>MongoDB</b>, and implementing secure authentication systems.</p>
           </div>
        </div>
      </div>
      <!-- Card3 -->
       <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Databases</h5>
            <p class="card-text">Experienced in working with <b>MongoDB and MySQL</b> for designing, managing, and optimizing databases. Skilled in implementing CRUD operations and integrating databases with backend applications.</p>
          </div>
        </div>
      </div>
      <!-- card 4 -->
       <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Programming Languages</h5>
            <p class="card-text">I have proficiency in multiple programming languages including <b>JavaScript, Java, and C/C++</b>. My strong understanding of programming fundamentals enables me to write clean, optimized, and maintainable code.</p>
          </div>
        </div>
      </div>
      <!-- card 5 -->
       <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">FrameWorks</h5>
            <p class="card-text">I have hands-on experience working with modern web frameworks to build scalable, responsive, and high-performance applications. I use frontend frameworks like <b>React.js and Bootstrap</b> to create dynamic and user-friendly interfaces, and backend frameworks such as <b>Express.js</b> to develop secure and efficient server-side applications.</p>
          </div>
        </div>
      </div>
      <!-- card 6 -->
       <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Tools</h5>
            <p class="card-text">I utilize a variety of development tools to enhance productivity, maintain code quality, and streamline the software development process. I am proficient in using code editors, version control systems, and API testing tools to efficiently build, test, and deploy applications. Like : <b>VS code, Git and GitHub, Hoopscoth, npm , MongoDB compass</b></p>
          </div>
        </div>
      </div>

    </div>
    </div>
    </div>
  </div>
</div>

</body>